.App {
  max-width: 620px;
  margin: auto;
  /*border: 1px solid red;*/
}

.Profile {
  /*border: 1px solid blue;*/
}

.key, .key-input input {
  font-family: 'Roboto Mono', monospace;
  color: #10161A !important;
  text-shadow: 0 0 1px white;
}

.error {
  background-color: red;
}
